svg {
    height: 80px;
    width: 80px;
    max-width: 400px;
    position: relative;
    z-index: 2;
}

path {
    fill: transparent;
}

.brainPath {
    stroke: url(#neonGradient);
    stroke-width: 1;
}

.brainCircle {
    stroke: url(#neonGradient);
    fill: aqua;
}

.brainRect {
    stroke: url(#neonGradient);
    fill: url(#neonGradient);
}

.brainEllipse {
    stroke: url(#neonGradient);
    fill: aqua;
}

.animatePaths {
    animation: goPath 3000ms alternate infinite;
}

.animateCircles {
    animation: goCircle 3000ms alternate infinite;
}

.animateRects {
    animation: goRect 3000ms alternate infinite;
}

@keyframes goPath {
    to {
        stroke-dashoffset: 1;
    }
}

@keyframes goRect {
    to {
        opacity: 1;
    }
}

@keyframes goCircle {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}